body{
    font-family: "Montserrat",sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color:#0000;
    width:340px;
    border-radius: 1rem;
    margin-right: 0.5rem;

}
.main-content{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.music-player{
   background-color:black ;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size:1 rem ;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.7rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 10rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.8rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.75rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    top:0;
    position: sticky;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left: 0.75rem ;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem ;
}
.dark-badge{
    background-color:black;
    color:white; 
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding:1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.75;
}
.footer{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.line{
    width:90%;
    height: 30%;
    border-top:1px solid white;
    opacity: 0.4;
}
.music-player{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.album{
    width: 25%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.player{
    /* background-color: green; */
    width: 50%;
    margin-left: 20rem;
}
.controls{
    width: 25%;
    /* background-color: yellow; */
}
.album .movie{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 0.25rem;
    
}
.album .details{
    margin-top: 1rem;
    margin-left: 0.5rem;
    line-height: 1.5rem;
}

.album .music-player-icon{
    margin-top: 1.25rem;
}
.album.details a:hover{
     text-decoration: underline;
}
.controls{
    display: flex;
    align-items: center;
    margin-left: 7rem;
}
.controls i{
    display:flex;
    justify-content: flex-end;
    margin: 1rem 0.75rem 1rem 0.75rem;
    flex-wrap: wrap;

}
.player-control-icon{
    height: 1rem;
    padding: 1rem;
    margin-right: 1.7 rem;
    margin-bottom: -1rem;
    margin-top: -2rem;

}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.15rem;

}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.5rem;
}

.curr-time,.total-time{
   margin-bottom: 2rem;
}
.controls .volume{
    width: 75%;
    height: 0.15rem;
}
.controls.volume::-webkit-slider-thumb{
    background-color: #1bd760;
}